.error-section{
    margin-bottom: 5rem;
    .error-number{
        font-size: 15vw;
        color: #42b983;
        margin: 5rem 0 5rem 0;
    }
    .error-text{
        font-size: 3vw;
        margin-bottom: 3rem;
    }
    .error-back_home{
        font-size: 2vw;
    }
}